[submodule "workflow/external/monorail-external"]
	path = workflow/external/monorail-external
	url = https://github.com/langmead-lab/monorail-external.git
[submodule "workflow/external/fastder"]
	path = workflow/external/fastder
	url = git@github.com:martina-lavanya/fastder.git
	branch = build
